asgiref==3.9.1
Babel==2.15.0
cachetools==5.5.2
certifi==2025.7.14
charset-normalizer==3.4.2
cloudinary==1.44.1
colorama==0.4.6
Django==5.2.4
django-appointment==3.8.0
django-cloudinary-storage==0.3.0
django-phonenumber-field==8.0.0
django-picklefield==3.3
django-q2==1.8.0
google-auth==2.40.3
icalendar==6.3.1
idna==3.10
phonenumbers==8.13.42
pillow==10.4.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.32.4
rsa==4.9.1
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.9.0
